n8n-workflow-htlm-processor-COMPLET.json
{
  "name": "htlm_processor - COMPLET",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "htlm_processor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "htlm_processor"
    },
    {
      "parameters": {
        "jsCode": "// Récupérer le HTML de la requête\nconst htmlInput = $input.item.json.question || $input.item.json.html || '';\n\n// Traitement simple : retourner le HTML tel quel\n// Vous pouvez ajouter votre logique de traitement ici\nconst output = htmlInput;\n\nreturn {\n  output: output,\n  status: 'success',\n  timestamp: new Date().toISOString(),\n  contentLength: output.length\n};"
      },
      "id": "code-node",
      "name": "Process HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"response\": { \"body\": [{ \"output\": $json.output, \"status\": $json.status, \"timestamp\": $json.timestamp, \"contentLength\": $json.contentLength }], \"headers\": { \"content-type\": \"application/json\" }, \"statusCode\": 200 } } }}",
        "options": {}
      },
      "id": "respond-node",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Process HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process HTML": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-04T00:00:00.000Z",
  "versionId": "1"
}
