workflows/GOOGLE-DRIVE-FILTRE-DOSSIER-V3.json
{
  "name": "Google Drive - Filtre Dossier V3",
  "nodes": [
    {
      "parameters": {
        "path": "scan-dossier-cible",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-200, 320],
      "webhookId": "scan-dossier-cible"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 500,
        "filter": {},
        "options": {}
      },
      "id": "gd-001",
      "name": "Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [20, 320],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WTDsvHYQAso7C0Xe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// CONFIGURATION: Nom du dossier cible (modifiez ici)\nconst DOSSIER_CIBLE = 'template rapport';\n\n// Récupérer les items\nconst items = $input.all();\n\n// Si aucun item\nif (!items || items.length === 0 || !items[0].json || Object.keys(items[0].json).length === 0) {\n  return [{\n    json: {\n      success: false,\n      timestamp: new Date().toISOString(),\n      message: \"Aucun fichier trouvé dans Google Drive\",\n      dossierRecherche: DOSSIER_CIBLE,\n      contenu: []\n    }\n  }];\n}\n\n// ÉTAPE 1: Construire un index des dossiers (id -> nom)\nconst dossiersMap = {};\nconst tousLesDossiers = [];\nlet dossierCible = null;\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data || !data.id) continue;\n  \n  if (data.mimeType === 'application/vnd.google-apps.folder') {\n    dossiersMap[data.id] = {\n      id: data.id,\n      nom: data.name || 'Sans nom'\n    };\n    tousLesDossiers.push(data.name);\n    \n    // Chercher le dossier cible (insensible à la casse)\n    const nomLower = (data.name || '').toLowerCase().trim();\n    const cibleLower = DOSSIER_CIBLE.toLowerCase().trim();\n    \n    if (nomLower === cibleLower || \n        nomLower === cibleLower.replace(/ /g, '_') ||\n        nomLower === cibleLower.replace(/ /g, '')) {\n      dossierCible = { id: data.id, nom: data.name };\n    }\n  }\n}\n\n// Si dossier cible non trouvé\nif (!dossierCible) {\n  return [{\n    json: {\n      success: false,\n      timestamp: new Date().toISOString(),\n      message: `Dossier '${DOSSIER_CIBLE}' non trouvé`,\n      dossierRecherche: DOSSIER_CIBLE,\n      dossiersDisponibles: tousLesDossiers.slice(0, 30),\n      contenu: []\n    }\n  }];\n}\n\n// ÉTAPE 2: Filtrer les éléments qui ont ce dossier comme parent\n// Note: Le node Google Drive ne retourne pas 'parents' par défaut\n// On va donc retourner l'ID du dossier trouvé pour une 2ème requête\n\nreturn [{\n  json: {\n    dossierTrouve: true,\n    dossierCible: dossierCible,\n    dossiersMap: dossiersMap,\n    totalDossiers: tousLesDossiers.length\n  }\n}];"
      },
      "id": "code-001",
      "name": "Trouver Dossier",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 320],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "id": "c1", "leftValue": "={{ $json.dossierTrouve }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" }}],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-001",
      "name": "Dossier Trouve?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 320]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "limit": 500,
        "filter": {
          "folderId": "={{ $json.dossierCible.id }}"
        },
        "options": {}
      },
      "id": "gd-002",
      "name": "Contenu Dossier",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [680, 220],
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "WTDsvHYQAso7C0Xe",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Récupérer les infos du dossier parent\nconst prevData = $('Trouver Dossier').first().json;\nconst dossierCible = prevData.dossierCible;\nconst items = $input.all();\n\nconst contenu = [];\n\nfor (const item of items) {\n  const data = item.json;\n  if (!data || !data.id) continue;\n  \n  contenu.push({\n    fichier_id: data.id,\n    fichier_nom: data.name || 'Sans nom',\n    fichier_type: data.mimeType === 'application/vnd.google-apps.folder' ? 'dossier' : 'fichier',\n    fichier_mimeType: data.mimeType || 'unknown',\n    dossier_parent_id: dossierCible.id,\n    dossier_parent_nom: dossierCible.nom\n  });\n}\n\nreturn [{\n  json: {\n    success: true,\n    timestamp: new Date().toISOString(),\n    dossierCible: dossierCible,\n    statistiques: {\n      totalElements: contenu.length,\n      sousDossiers: contenu.filter(e => e.fichier_type === 'dossier').length,\n      fichiers: contenu.filter(e => e.fichier_type === 'fichier').length\n    },\n    contenu: contenu\n  }\n}];"
      },
      "id": "code-002",
      "name": "Formater Resultat",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 220],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Dossier non trouvé - passer les données d'erreur\nreturn $input.all();"
      },
      "id": "code-003",
      "name": "Erreur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {"responseCode": 200}
      },
      "id": "resp-001",
      "name": "Reponse",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 320]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Google Drive", "type": "main", "index": 0}]]
    },
    "Google Drive": {
      "main": [[{"node": "Trouver Dossier", "type": "main", "index": 0}]]
    },
    "Trouver Dossier": {
      "main": [[{"node": "Dossier Trouve?", "type": "main", "index": 0}]]
    },
    "Dossier Trouve?": {
      "main": [
        [{"node": "Contenu Dossier", "type": "main", "index": 0}],
        [{"node": "Erreur", "type": "main", "index": 0}]
      ]
    },
    "Contenu Dossier": {
      "main": [[{"node": "Formater Resultat", "type": "main", "index": 0}]]
    },
    "Formater Resultat": {
      "main": [[{"node": "Reponse", "type": "main", "index": 0}]]
    },
    "Erreur": {
      "main": [[{"node": "Reponse", "type": "main", "index": 0}]]
    }
  },
  "settings": {"executionOrder": "v1"},
  "pinData": {},
  "meta": {"templateCredsSetupCompleted": true}
}
