Doc cross ref documentaire menu/workflow_n8n_ouvrir_xref.json
{
  "name": "Cross Reference - Ouvrir Document",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "OPTIONS",
        "path": "cross_reference",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "id": "webhook-options",
      "name": "Webhook OPTIONS preflight",
      "webhookId": "cross-ref-options"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [450, 300],
      "id": "respond-options",
      "name": "Respond OPTIONS"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cross_reference",
        "responseMode": "responseNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 500],
      "id": "webhook-post",
      "name": "Webhook POST",
      "webhookId": "cross-ref-post"
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "queryString": "='name contains \"' + $json.body.dossier + '\" and mimeType = \"application/vnd.google-apps.folder\" and trashed = false'"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [450, 500],
      "id": "search-folder",
      "name": "Rechercher Dossier"
    },
    {
      "parameters": {
        "operation": "search",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "root"
        },
        "queryString": "='name contains \"' + $('Webhook POST').item.json.body.index + '\" and \"' + $json.id + '\" in parents and trashed = false'"
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 500],
      "id": "search-file",
      "name": "Rechercher Fichier"
    },
    {
      "parameters": {
        "jsCode": "// Vérifier si un fichier a été trouvé\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [\n    {\n      json: {\n        success: false,\n        message: \"Document non trouvé dans Google Drive\",\n        searchTerm: $('Webhook POST').item.json.body.index,\n        dossier: $('Webhook POST').item.json.body.dossier\n      }\n    }\n  ];\n}\n\n// Prendre le premier fichier trouvé\nconst file = items[0].json;\n\nreturn [\n  {\n    json: {\n      success: true,\n      file: {\n        id: file.id,\n        name: file.name,\n        mimeType: file.mimeType,\n        webViewLink: file.webViewLink,\n        webContentLink: file.webContentLink,\n        thumbnailLink: file.thumbnailLink,\n        iconLink: file.iconLink,\n        size: file.size,\n        createdTime: file.createdTime,\n        modifiedTime: file.modifiedTime\n      },\n      searchTerm: $('Webhook POST').item.json.body.index,\n      dossier: $('Webhook POST').item.json.body.dossier\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 500],
      "id": "format-response",
      "name": "Formater Réponse"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, Accept"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [1050, 500],
      "id": "respond-post",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook OPTIONS preflight": {
      "main": [
        [
          {
            "node": "Respond OPTIONS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook POST": {
      "main": [
        [
          {
            "node": "Rechercher Dossier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher Dossier": {
      "main": [
        [
          {
            "node": "Rechercher Fichier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher Fichier": {
      "main": [
        [
          {
            "node": "Formater Réponse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formater Réponse": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-12T00:00:00.000Z",
  "versionId": "1"
}
